@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullwidth {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 246, 246) !important;
}

.greet-section {
  position: absolute;
  width: 50%;
  height: 100vh;
  /* background-color: #0b071a; */
}

.form-section {
  position: absolute;
  width: 50%;
  height: 100vh;
  left: 50% !important;
}

.component {
  position: relative;
  top: 0;
  z-index: -1;
  color: #21a731;
}

amplify-s3-image {
  --height: 90px;
  --width: 90px;
}
